* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: #fff;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

body {
    max-width: 450px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
    background: url(./assets/images/bg-desktop-version.png) no-repeat center/cover;
}

img {
    width: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
}

#container a {
    font-size: 14px;
    padding: 13px 0;
    
    border: 1px solid #fff;
    border-radius: 8px;
    
    background: #193782;

    box-shadow: 0 2px 5px 0 #00000025;
    transition: background .5s;
}

#container a:hover {
    background: #193782ce;
}

#container-modalidades {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;

    justify-content: center;
    padding: 50px 0;
}

#container-modalidades .modalidade {
    width: 150px;
    border: 1px solid #fff;
    background: #193782;
    border-radius: 8px;

    padding: 16px 0;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
}

footer {
    font-size: 14px;
    font-weight: 100;
}

footer a {
    transition: color .5s;
}

footer a:hover {
    color: #208eb9;
}

@media (max-width: 500px) {
    body {
        padding: 30px 40px;
        background: url(./assets/images/bg-mobile-version.png) no-repeat center/cover;
    }

    span {
        font-size: 32px;
    }

    #container {
        padding: 30px 0 50px;
    }
}